# Sulhairah(2009106026)
# Posttest 4

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [11]:
df = pd.read_csv("Life Expectancy Data.csv")
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2944 non-null   object
 1   Year                             2944 non-null   int64
 2   Status                           2944 non-null   object
 3   Life expectancy                  2934 non-null   float64
 4   Adult Mortality                  2934 non-null   float64
 5   infant deaths                    2944 non-null   int64
 6   Alcohol                          2750 non-null   float64
 7   percentage expenditure           2944 non-null   float64
 8   Hepatitis B                      2391 non-null   float64
 9   Measles                          2944 non-null   int64
 10   BMI                             2910 non-null   float64
 11  under-five deaths                2944 non-null   int64
 12  Polio                            2925 non-null   float64
 13  Total expenditure                2718 non-null   float64
 14  Diphtheria                       2925 non-null   float64
 15   HIV/AIDS                        2944 non-null   float64
 16  GDP                              2496 non-null   float64
 17  Population                       2292 non-null   float64
 18   thinness  1-19 years            2910 non-null   float64
 19   thinness 5-9 years              2910 non-null   float64
 20  Income composition of resources  2777 non-null   float64
 21  Schooling                        2781 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 506.1+ KB

In [13]:
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

# Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [14]:
# Subset feature dan target
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [16]:
print("x_train:", x_train.shape)
print("x_test:", x_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

x_train: (2060, 21)
x_test: (884, 21)
y_train: (2060,)
y_test: (884,)

# normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
minmax = MinMaxScaler()
df_copy = df.filter(
  [
  'Hepatitis B', 
  'Measles', 
  'under-five deaths', 
  'Polio', 
  'Total expenditure' 
  ]
)

In [19]:
scaled_data = minmax.fit_transform(df_copy)
scaled_data

array([[0.65306122, 0.03125   , 0.4521184 ],
       [0.62244898, 0.57291667, 0.45327916],
       [0.64285714, 0.61458333, 0.45037725],
       ...,
       [0.73469388, 0.72916667, 0.35751596],
       [0.76530612, 0.76041667, 0.33604179],
       [0.79591837, 0.78125   , 0.39059779]])

# standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [20]:
np.std(df)

C:\Users\Windows10\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

Year                               4.614469e+00
Life expectancy                    9.521355e+00
Adult Mortality                    1.242372e+02
infant deaths                      1.177984e+02
Alcohol                            4.052921e+00
percentage expenditure             1.985783e+03
Hepatitis B                        2.504566e+01
Measles                            1.145378e+04
 BMI                               2.004140e+01
under-five deaths                  1.602706e+02
Polio                              2.345547e+01
Total expenditure                  2.497733e+00
Diphtheria                         2.370115e+01
 HIV/AIDS                          5.072285e+00
GDP                                1.425423e+04
Population                         6.092326e+07
 thinness  1-19 years              4.453983e+00
 thinness 5-9 years                4.541814e+00
Income composition of resources    2.107734e-01
Schooling                          3.356334e+00
dtype: float64

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
stand = StandardScaler()

In [23]:
df_copy = df.filter(
[ 'Hepatitis B', 
  'Measles', 
  'under-five deaths', 
  'Polio', 
  'Total expenditure']
    )

In [24]:
scaled_data= stand.fit_transform(df_copy)
scaled_data

array([[-0.63489228, -3.26118616,  0.88740509],
       [-0.75467351, -1.04421916,  0.89541235],
       [-0.67481936, -0.87368323,  0.8753942 ],
       ...,
       [-0.31547567, -0.40470944,  0.23481336],
       [-0.19569444, -0.2768075 ,  0.08667904],
       [-0.07591321, -0.19153954,  0.46302028]])

# Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus)

In [25]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')

In [26]:
df["GDP"] = imputer.fit_transform(df[['GDP']])
df["Adult Mortality"] = imputer.fit_transform(df[['Adult Mortality']])
df["Alcohol"] = imputer.fit_transform(df[['Alcohol']])

In [27]:
#lihat data yang sudah dihilangkan nullnya
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                  0
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [28]:
df["Hepatitis B"] = imputer.fit_transform(df[['Hepatitis B']])
df["Population"] = imputer.fit_transform(df[['Population']])
df["Total expenditure"] = imputer.fit_transform(df[['Total expenditure']])

In [29]:
#lihat data yang sudah dihilangkan nullnya
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                    0
Diphtheria                          19
 HIV/AIDS                            0
GDP                                  0
Population                           0
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [30]:
df["Income composition of resources"] = imputer.fit_transform(df[['Income composition of resources']])

In [31]:
#lihat data yang sudah dihilangkan nullnya
df.isna().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                    0
Diphtheria                          19
 HIV/AIDS                            0
GDP                                  0
Population                           0
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources      0
Schooling                          163
dtype: int64

# Data cleaning pada data dengan nilai duplikat

In [32]:
df[df.duplicated()].sum()

Country                            AfghanistanAfghanistanAfghanistanAfghanistanAf...
Year                                                                           12075
Status                             DevelopingDevelopingDevelopingDevelopingDevelo...
Life expectancy                                                                362.3
Adult Mortality                                                               1628.0
infant deaths                                                                    406
Alcohol                                                                         0.06
percentage expenditure                                                    382.983139
Hepatitis B                                                                    392.0
Measles                                                                         9865
 BMI                                                                           107.3
under-five deaths                                                                550
Polio                                                                          327.0
Total expenditure                                                              50.06
Diphtheria                                                                     392.0
 HIV/AIDS                                                                        0.6
GDP                                                                      3115.525871
Population                                                                75354488.0
 thinness  1-19 years                                                          106.9
 thinness 5-9 years                                                            107.1
Income composition of resources                                                 2.79
Schooling                                                                       58.5
dtype: object

In [33]:
df[df.duplicated()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
6,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
7,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
8,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
9,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
10,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
11,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2

In [34]:
df.drop_duplicates(inplace = True)

In [35]:
df.duplicated().sum()

0

# Ganti tipe data salah satu attribute angka

In [36]:
from sklearn.preprocessing import OrdinalEncoder

In [37]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [38]:
en = OrdinalEncoder()
df["infantdeaths_encoder"] = en.fit_transform(df[["infant deaths"]])
df.head(5)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,infantdeaths_encoder
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,62.0
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,64.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,66.0
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,69.0
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,71.0

#  one hot encoding pada dataset yang kalian miliki

In [39]:
from sklearn.preprocessing import OneHotEncoder

In [40]:
ohe = OneHotEncoder(sparse = False)

In [41]:
Status = ohe.fit_transform(df[["Status"]])

In [42]:
data = pd.DataFrame(Status)
df = df.join(data)
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,infantdeaths_encoder,0,1
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,62.0,0.0,1.0
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,64.0,0.0,1.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,66.0,0.0,1.0
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,69.0,0.0,1.0
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,71.0,0.0,1.0